@import "tailwindcss";


@theme {
  --color-blue-50:  #F0F4FA;
  --color-blue-100: #DDE6F2;
  --color-blue-200: #BBCBE3;
  --color-blue-300: #93A9CE;
  --color-blue-400: #6884B4;
  --color-blue-500: #4A6699;
  --color-blue-600: #35548C;
  --color-blue-700: #2A4370;
  --color-blue-800: #223655;
  --color-blue-900: #1B2A42;
} */


/* 
@theme {
  --color-blue-50:  #EAF6FD;
  --color-blue-100: #DCEEFB;
  --color-blue-200: #B7DEF7;
  --color-blue-300: #86C7F0;
  --color-blue-400: #5BAFE8;
  --color-blue-500: #3EA3E3;
  --color-blue-600: #2F9BE0;
  --color-blue-700: #1E7EB8;
  --color-blue-800: #196590;
  --color-blue-900: #144D6E;
} */